







.regionProgression {
    width: 112px;
    height: 122px;
    border-radius: 4px;
    padding: 2px 4px;

}

.regionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0 10px;
    gap: 8px;
}


.completionBoxes{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.regionProgression.oblivion {
    background: linear-gradient(to right, #98e0ff86 0%, #b9eaff75 100%);
}

.regionProgression.chuchu {
    background: linear-gradient(to right, #ffccff77 0%, #bf4dbf59 100%);
}

.regionCheckBox {
    border-radius: 8px;
    box-sizing: border-box;
    height: 36px;
    padding: 4px 8px;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background: linear-gradient(to right, #FFFFFF 49%, #FFFFFF 54.6%);
}

.regionCheckBox label {
    display: inline-block;
    width: 56px;
}